@keyframes pulsate {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    transform: scale(1.15);
    opacity: 0;
  }
}

.about {
  background-color: #0a2850;
  color: #fff;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  display: flex;
  padding: 100px 80px;
}

.about__title {
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  max-width: 251px;
  position: relative;
  margin: 0;
  z-index: 1;
}

.about__content {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
  max-width: 660px;
  margin-left: auto;
  padding: 19px 0 73px;
}

.about__paragraph {
  margin: 0 0 20px;
}

.about__paragraph:last-child {
  margin: 0;
}

.about__circle {
  background-color: #2f80ed;
  width: 426px;
  height: 426px;
  border-radius: 50%;
  position: absolute;
  top: -152px;
  left: -129px;
  z-index: 0;
}

.about__circle_animation_blurred {
  background-color: #2f80ed;
  width: 426px;
  height: 426px;
  border-radius: 50%;
  position: absolute;
  top: -152px;
  left: -129px;
  z-index: 0;
  animation: pulsate 1.3s 0s ease-in-out infinite;
}
