.card {
  width: 540px;
}

.card__title {
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  margin: 0 0 32px;
  padding: 0;
}

.card__list {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  padding: 0;
}

.card__list-item {
  display: flex;
  justify-content: space-between;
  margin: 0 0 16px;
  padding: 0;
}

.card__list-item:last-child {
  margin: 0;
  padding: 0;
}

.card__list-divider {
  border-bottom: solid 1px #000;
  flex-grow: 1;
  margin: 0 5px 0;
  padding: 0;
}
