.footer {
  background: linear-gradient(180deg, #0a2850 0%, #071931 100%);
  color: #fff;
  padding: 60px 80px;
}

.footer__content {
  display: flex;
  justify-content: space-between;
}

.footer__logo {
  width: 105px;
  height: 39px;
}

.footer__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer__social-heading {
  font-weight: bold;
  margin: 0 0 20px;
}

.footer__list-item {
  margin: 0 0 16px;
}

.footer__list-item:last-child {
  margin: 0;
}

.footer__social-link {
  text-decoration: none;
  color: #fff;
  display: flex;
  align-items: center;
  transition: color 0.5s 0s linear;
}

.footer__social-link:hover {
  color: #c1c1c1;
  cursor: pointer;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  padding-right: 10px;
}

.footer__copyright {
  margin: 108px 0 0;
}
