.menu {
  background-color: #fff;
  background-image: url(../images/background_menu.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* correct placing for background image to match brief */
  margin: 50px 50px 100px;
  padding: 50px 50px 0px;
}

.menu__title {
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin: 0 auto;
  padding-bottom: 24px;
  max-width: 780px;
  text-align: center;
}

.menu__subtitle {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
  margin: 0 auto;
  padding: 0 0 100px;
  max-width: 780px;
  text-align: center;
}

.menu__cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 100px;
  margin: 0;
  padding: 0;
  list-style: none;
}
